{% extends "base.html" %}

<div class="container">
    <div class="row">
        <h3>LOGIN</h3>
        <form action="index.php" method="post">
            <label>Email</label><br>
            <input type="email" name="Email" placeholder="entrer votre mail" style="border-radius: 20px;"><br>
            <label>Password</label><br>
            <input type="password" name="Password" placeholder="entrer votre mdps" style="border-radius: 20px;"><br>
            <input type="button" name="login" value="login" style="background-color: black; color:white; border-radius: 30px;">
        </form>
    </div>
    

</div>