{% extends "base.html" %}
{% block content %}
<div class="text-center">
    <h3>NORTHAFRICANCAR</h3>
</div>

<div class="row text-start align-items-center gy-5 my-5">
    <div class="col-12 col-md-6" align="center">
        <img src="https://tse1.mm.bing.net/th?id=OIP.X6VO_WOQ3utTREZWCHoIrQHaFj&pid=Api&P=0&h=180" class="w-50 h-50"> 
    </div>
    <div class="col-12 col-md-6">
        <h2 class="display-4" style="font-style: oblique; font-weight: bold;color: gray;">
            Nouveaux modele
        </h2>
        <p style="font-style: italic;">Explorez notre selection impressionante de nouvelle voitures,fraichement arrivees sur notre site web ainsi que notre local.Decouvrez les derniers modele des marques les plus populaires,chacun offrant des performances de pointe,un design innovant et des fonctionalites de pointe pour repondre a vos besoin de conduite</p>
    </div>
</div>



<div class="row text-start align-items-center gy-5 my-5">
    <div class="col-12 col-md-6">
        <h2 class="display-4" style="font-style: oblique;font-weight: bold;color: gray;">
            Modele a louer 
        </h2>
        <p style="font-style: italic;">Decouvrez notre collections de voiture mise sur le statut de location sur notre site web ainsi que notre local en cas de passage sur place.Que vous ayez besoin d un vehicule pour un voyage ou pour du travaille et meme pour le cas de plaisir , NorthAfricaCars est là pour vous offrir le paradis des voitures.Avec nos tarifs de locations raisonable,nous rendons la locations de voiture simple et adorable.Choisissez la duree de location qui vous convient le mieux nous somme a votre ordre.</p>
    </div>
    <div class="col-12 col-md-6" align="center">
        <img src="https://tse1.mm.bing.net/th?id=OIP.QDKDgTOwC_IRwcwDoDCgAQHaE6&pid=Api&P=0&h=180" class="w-50 h-50"> 
    </div>
</div>

<div class="row text-start align-items-center gy-5 my-5">
    <div class="col-12 col-md-6" align="center">
        <img src="https://tse4.mm.bing.net/th?id=OIP.zAZyW0PVEbogeh7uqCDSLgHaE8&pid=Api&P=0&h=180" class="w-50 h-50"> 
    </div>
    <div class="col-12 col-md-6">
        <h2 class="display-4" style="font-style: oblique;font-weight: bold;color: gray;">
            En cas d'accident 
        </h2>
        <p style="font-style: italic;">En cas d'accident de voiture votre securite et notre proprietes absolue,c'est pour cela notre equipe vous guideras a chaque etape du processus de reclamation.nous travaillons en etroite collaboration avec les compagnies d'assurance pour nous assurer que vous obtenez le soutien dont vous avez besoin rapidement et efficacement.</p>
    </div>
</div>
</div>
{% endblock %}
